export OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
export OTEL_EXPORTER_OTLP_PROTOCOL=http
export OTEL_LOGS_EXPORTER=oltp
export OTEL_METRIC_EXPORT_INTERVAL=500
export OTEL_BSP_SCHEDULE_DELAY=500
export OTEL_SERVICE_NAME=myclaimservice